@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root{
    --main-color: #BB99DD;
    --page-color: rgba(187, 153, 221, 0.08);
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7.5em;
    background-color: var(--page-color)
}

.profile-picture{
    width: 200px;
    height: 200px;
    left: 107px;
    top: 126px;
}

.profile-picture img{
    border-radius: 50%;
    border: 2px solid var(--main-color);
    padding: 5px 5px 6px 6px;
}

p{
    margin-top: 1.5em;
    font-weight: 300;
    color: var(--main-color);
    font-size: 16px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.link-box{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    padding: 1em 8em 1em 8em;
    margin: 0.5em;
}

.icons{
    margin-top: 3em;
}

.social-icons{
    padding: 0.8em;
}

